/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

html {
  height: -webkit-fill-available;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #252422; */
}

.stud-container {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  align-items: center;
  /* height: 2000px; */
}

.menu {
  background-color: #252422;
  width: 100%;
  display: flex;
  font-family: "Oswald", sans-serif;
  color: #fcfffb;
  white-space: nowrap;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  width: 400px;
  height: auto;
  /* margin: 20px; */
  margin-bottom: 10px;
}

.links {
  /* margin-left: auto; */
  display: flex;
  justify-content: space-between;
}

.item {
  color: inherit;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 40px;
  font-style: italic;
  text-decoration: none;
  font-weight: 100;
}

.item:hover {
  text-decoration: underline;
}

.flare-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 25px;
  z-index: -1;
}

.blue-flare {
  position: absolute;
  height: 100%;
  width: 0px;
  background-color: #80a1d4;
  transition: width 1s ease;
}

.red-flare {
  position: absolute;
  height: 100%;
  width: 0px;
  background-color: #c5283d;
  transition: width 1s ease;
}

.zigzag {
  position: absolute;
  z-index: -1;
  width: 98%;
  height: 100%;
  max-width: 1500px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.studs {
  width: 90%;
  max-width: 550px;
  height: auto;
  align-self: center;
  transition: transform 0.3s ease;
}

.studs:hover {
  transform: scale(1.05);
}

.content-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  min-height: 1000px;
}

.content-column {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.bottom {
  align-self: flex-end;
}

.top {
  align-self: flex-start;
  /* margin-top: 100px; */
}

.center {
  align-self: center;
}

.youtube {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.embedded {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.embedded iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.name {
  font-size: 50px;
  font-weight: 900;
  font-family: "Oswald", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.about {
  text-align: center;
  font-size: 27px;
  font-family: "Oswald", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.merch {
  display: flex;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  margin: 20px;
  font-size: 70px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.flare-container-bottom {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  z-index: -2;
}

.blue-flare-bottom {
  position: absolute;
  height: 100%;
  width: 0px;
  background-color: #80a1d4;
  transition: width 1s ease;
}

.red-flare-bottom {
  position: absolute;
  height: 100%;
  width: 0px;
  background-color: #c5283d;
  transition: width 1s ease;
}

.footer {
  background-color: #252422;
  width: 100%;
  display: flex;
  font-family: "Oswald", sans-serif;
  color: #fcfffb;
  white-space: nowrap;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-footer {
  width: 100px;
  height: auto;
  /* margin: 20px; */
  margin-bottom: 10px;
}

.icon {
  width: 50px;
  height: auto;
}

@media (max-width: 1600px) {
  .about {
    font-size: 25px;
  }
}

@media (max-width: 1375px) {
  .about {
    font-size: 23px;
  }
}

@media (max-width: 1200px) {
  .about {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .logo {
    width: 200px;
  }

  .merch {
    font-size: 50px;
  }

  .item {
    font-size: 25px;
  }

  .content-row {
    flex-direction: column;
  }

  .edge {
    order: 2;
  }

  .bio {
    background-color: rgba(0, 0, 0, 0.75);
    color: #fcfffb;
    border-radius: 3px;
  }

  .youtube {
    background-color: rgba(0, 0, 0, 0.75);
    color: #fcfffb;
    border-radius: 3px;
  }

  .embedded {
    outline: none;
  }

  .name {
    color: #fcfffb;
  }

  .about {
    color: #fcfffb;
  }
}

@media (max-width: 400px) {
  .item {
    margin-left: 10px;
    margin-right: 10px;
  }

  .merch {
    font-size: 40px;
  }
}
