/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

html {
  height: -webkit-fill-available;
}

body {
  /* background-color: aliceblue; */
}

.header {
  display: flex;
  background-color: black;
  width: 100vw;
  height: 150px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-link {
  color: aliceblue;
  text-decoration: none;
  font-size: 40;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-style: italic;
}

.line {
  margin: 8;
  height: 2;
  width: 300;
  background-color: aliceblue;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-left: 10px;
  width: 30px;
  height: auto;
}

.stud-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  height: 200vh;
}

.studs {
  width: 80vw;
  max-width: 500px;
  height: auto;
}

.stripe-container {
  overflow: hidden;
  height: 0%;
  width: 100%;
  transition: height 1s ease;
}

/* .stripe {
  width: 200px;
  height: 200vh;
  background-color: red;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 0, 0)
  );  Gradient for fading effect 
  z-index: 1;
} */

.stripe {
  width: 100%;
  height: 200vh;
  background: linear-gradient(
    to right top,
    transparent 48%,
    blue 48%,
    blue 50%,
    red 50%,
    red 52%,
    transparent 52%
  );
}

.arrow {
  position: absolute;
  top: 250px;
  /* background-color: black; */

  font-size: 50;
  z-index: 2;
}

.shawty {
  position: absolute;
  top: 500px;
  /* background-color: black; */

  font-size: 50;
  z-index: 2;
}

.got {
  position: absolute;
  top: 750px;
  /* background-color: black; */

  font-size: 50;
  z-index: 2;
}

.low {
  position: absolute;
  top: 1000px;
  /* background-color: black; */

  font-size: 50;
  z-index: 2;
}

.low2 {
  position: absolute;
  top: 1250px;
  /* background-color: black; */

  font-size: 50;
  z-index: 2;
}

.low3 {
  position: absolute;
  top: 1500px;
  /* background-color: black; */

  font-size: 50;
  z-index: 2;
}

.footer {
  width: 100vw;
  height: 100px;
  background-color: black;
}
