/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

html {
  height: -webkit-fill-available;
}

body {
  /* background-color: aliceblue; */
}

.header {
  display: flex;
  background-color: black;
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-link {
  color: aliceblue;
  text-decoration: none;
  font-size: 40;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-style: italic;
}

.line {
  margin: 8;
  height: 2;
  width: 300;
  background-color: aliceblue;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-left: 10px;
  width: 30px;
  height: auto;
}

.stud-container {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  height: 2000px;
}

.stripe-container {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  height: 0%;
  width: 100%;
  transition: height 1s ease;
}

.zigzag {
  width: 100%;
  max-width: 1200px;
  height: 2000px;
  /* outline: auto; */
}

.horizontalWidth {
  position: absolute;
  top: 200px;
  left: 50%;
  height: 2px;
  width: 100px;
  background-color: black;
}

.bottom-gradient {
  position: absolute;

  width: 100%;
  height: 300px;
  bottom: 0%;
  background: linear-gradient(to bottom, transparent, white);
  transition: bottom 1s ease;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: black;
}
